<footer class="text-center bg-primary p-1"><p>CopyRight 2024</p></footer>
<% if(user){%>
<div id="chat-wrapper" class="chat-wrapper shadow border"></div>
<script src="/socket.io/socket.io.js"></script>
<%}%>
