<footer class="text-center bg-secondary p-2 text-white sticky-bottom">
  <p>CopyRight @2024<span class="myApp">MyApp</span></p>
</footer>
<% if(user){%>
<div id="chat-wrapper" class="chat-wrapper shadow border"></div>
<script src="/socket.io/socket.io.js"></script>
<%}%>
